.bold {
	font-weight: bold;
}
.font-sans {
	font-family: var( --font-sans );
}
.no-underline {
	text-decoration: none;
}
.relative {
	position: relative;
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
