<a
	aria-live="assertive"
	class="[][][ notification ]"
	href="{{ (notifications | last).url }}"
>
	<span class="[][ visually-hidden ][]">Update available!</span>
	<img
		class="[][][ notification-icon ]"
		src="/images/bell.svg"
		alt="Bell"
		width="80"
		height="96"
	>
</a>
