.article {
	--stack-lg-size: var( --size-2 );
}
	@media (min-width: 36rem) {
		.article {
			--stack-lg-size: inherit;
		}
	}

@media (min-width: 36rem) {
	.article-contents {
		--inset-size: 0;
	}
}

.article h1,
.article h2 {
	font-family: var( --font-sans );
	font-weight: bold;
	line-height: 1;
}

.article h1 {
	font-size: var( --size-1 );
}

.article h2 {
	margin-top: var( --size-2 );
	border-bottom: solid #ccc 1px;
	padding-bottom: var( --size--2 );
}

.article p code {
	background-color: #f3f3f3;
	font-size: 1.125em;
}

.article blockquote {
	border-left: solid #ddd var( --size--3 );
	padding-left: var( --size-0 );
	color: #555;
}

.article em {
	font-style: italic;
}
