.article h1,
.article h2 {
	font-family: var( --font-sans );
	font-weight: bold;
}

.article h1 {
	font-size: var( --size-1 );
}

.article pre {
	background-color: #eee;
	padding: var( --size-0 );
}

.article p code {
	background-color: #eee;	
}
