.demo-reset {
	display: block;
	cursor: pointer;
	border: none;
	border-radius: var( --size--3 );
	box-shadow: var( --size--4 ) var( --size--4 ) 0 #f8d557;
	padding: var( --size--1 ) var( --size-1 );
	background-color: black;
	color: white;
}

.demo-reset:disabled {
	cursor: initial;
	box-shadow: none;
	background-color: #ddd;
	color: #555;
}
