.page-footer {
	font-size: calc( var( --size-0 ) * 0.875 );
	border-top: solid #eee 1px;
	padding-top: var( --stack-size );
}

.page-footer h2 {
	font-weight: bold;
}

.page-footer a {
	text-decoration: none;
}
	.page-footer a:hover {
		text-decoration: underline;
	}

.page-footer ul {
	list-style-type: none;
	padding: 0;
}

.page-footer .badged:after {
	--size: var( --size--2 );

	content: "";

	display: inline-block;
	height: var( --size );
	width: var( --size );

	border-radius: 100%;
	background-color: red;

	opacity: 0;
}
	.notification--visible .page-footer .badged:after {
		opacity: 1;
	}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
	.page-footer .badged:after {
		transition: opacity 0.75s 0.5s;
	}
}

.page-footer nav {
	display: grid;
	column-gap: var( --size-1 );
	row-gap: var( --size-1 );
}
	@media (min-width: 36rem) {
		.page-footer nav {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
