.page-footer {
	font-size: calc( var( --size-0 ) * 0.875 );
	border-top: solid #ddd 1px;
	padding-top: var( --stack-size );
}

.page-footer a {
	text-decoration: none;
}
	.page-footer a:hover {
		text-decoration: underline;
	}

.page-footer ul {
	list-style-type: none;
	padding: 0;
}

.page-footer .badged:after {
	--size: var( --size--2 );

	content: "";

	display: inline-block;
	height: var( --size );
	width: var( --size );

	position: relative;
	top: -1px;

	margin-left: calc( var( --size ) / var( --ratio ) );
	border-radius: 100%;
	background-color: red;
}

.page-footer nav {
	display: grid;
	column-gap: var( --size-1 );
	row-gap: var( --size-1 );
}
	@media (min-width: 36rem) {
		.page-footer nav {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
