---
site:
  title: Notification Demo
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

	<meta name="title" content="{{ title }}">

	{%- set criticalStyle -%}
		{% include "css/reset.css" %}
		{% include "css/global.css" %}
		{% include "css/composition.css" %}
		{% include "css/utilities.css" %}
		{% include "css/blocks.css" %}
	{%- endset -%}

	<style>
		{{ criticalStyle | safe }}
	</style>

	{% for resource in prefetch %}
	<link rel="prefetch" href="{{ resource.href }}" as="resource.as">
	{% endfor %}

	{% for script in externalScripts %}
	{% if script.src %}
	<script
		src="{{ script.src }}"
		{% if script.defer %}defer{% endif %}
	></script>
	{% else %}
	<script src="{{ script }}" defer></script>
	{% endif %}
	{% endfor %}
</head>
<body>
	<div class="[ center container stack-lg ][][]">
		{{ content | safe }}

		<footer class="[ inset ][ font-sans ][ page-footer ]">
			<nav>
				<div class="[ stack-sm ][][]">
					<a href="/"><h2 class="[][ bold ][]">{{ site.title }}</h2></a>
					<ul class="[ stack-sm ][][]">
						<li><a href="/apple/">Apple</a></li>
						<li><a href="/banana/">Banana</a></li>
						<li><a href="/cranberry/">Cranberry</a></li>
					</ul>
				</div>

				<div class="[ stack-sm ][][]">
					<a href="/"><h2 class="[][ bold ][]">Elsewhere</h2></a>
					<ul class="[ stack-sm ][][]">
						<li><a href="https://github.com/ashur/notification-demo">View Source</a></li>
						<li><a href="https://ashur.cab/rera">@ashur</a></li>
					</ul>
				</div>
			</nav>
		</footer>
	</div>
</body>
</html>
