---
layout: layouts/base.njk
externalScripts:
  - https://unpkg.com/alpinejs

prefetch:
  - href: /images/bell.svg
    as: image
---
<main
	class="[][ relative ][]"
>
	{% include "components/Notification.njk" %}

	<article
		x-data="{}"
		class="[ stack-lg ][][ article ]"
	>
		{% if image %}
		{% Image "src/images/" + image.src, image.alt %}
		{% endif %}

		<div class="[ inset stack ][][ article-contents ]">
			<h1>{{ title or site.title }}</h1>
	
			{{ content | safe }}

			<ul>
				<li>Photo by <a href="{{ image.author.url }}">{{ image.author.name }}</a></li>
				<li>Bell icon by <a href="https://thenounproject.com/icon/3407997/">Alice Design</a></li>
				<li>Text from Wikipedia</li>
			</ul>

			<button x-on:click="$dispatch('reset')">Reset Demo</button>
		</div>
	</article>
</main>
