---
layout: layouts/base.njk
externalScripts:
  - https://unpkg.com/alpinejs

prefetch:
  - href: /images/bell.svg
    as: image
---
<main
	class="[][ relative ][]"
>
	{% include "components/Notification.njk" %}

	<article
		class="[ stack-lg ][][ article ]"
	>
		{% if image %}
		{% Image "src/images/" + image.src, image.alt %}
		{% endif %}

		<div class="[ inset stack-lg ][][]">
			<div class="[ stack ][][ article-contents ]">
				<h1>{{ title or site.title }}</h1>
		
				{{ content | safe }}
			</div>
	
			<button
				x-data="{ disabled: true }"
				x-on:click="$dispatch('reset')"
				x-on:notify.window="disabled = $event.detail.url !== undefined"
				x-bind:disabled="disabled"f8d557
				class="[][][ demo-reset ]"
				disabled
			>Mark as Unread</button>
		</div>
	</article>
</main>
