---
layout: layouts/base.njk
externalScripts:
  - https://unpkg.com/alpinejs
---
<main
	class="[ center container stack ][ relative ][]"
>
	<article
		x-data="{}"
		class="[ stack ][][ article ]"
	>
		<h1>{{ title }}</h1>

		{{ content | safe }}

		<button @click="$dispatch('reset')">Reset Demo</button>
	</article>

	<div
		x-data="{
			/* Properties */
			lastDisplayed: null,

			latest: {{ notifications | last | dump }},

			get url() {
				if( this.lastDisplayed !== this.latest.id )
				{
					return this.latest.url;
				}
			},

			/* Methods */
			init() {
				let url = new URL( window.location.href );
				if( url.pathname === this.latest.url )
				{
					this.lastDisplayed = this.latest.id;
					localStorage.setItem( 'lastDisplayed', this.lastDisplayed );
				}
				else
				{
					this.lastDisplayed = localStorage.getItem( 'lastDisplayed' );
				}
			},

			/* Demo-only */
			reset() {
				localStorage.removeItem( 'lastDisplayed' );
				this.lastDisplayed = null;
			},
		}"

		x-on:reset.window="reset()"
	>
		<div

			x-cloak
			x-show="url"

			class="[][][ notification ]"
		>
			<a x-bind:href="url">
				<span class="[][][]">Update available!</span>
			</a>
		</div>
	</div>

	<footer>
		<nav>
			<ul class="[ stack-sm ][][]">
				<li><a href="/">Home</a></li>
				<li><a href="/apple/">Apple</a></li>
				<li><a href="/banana/">Banana</a></li>
			</ul>
		</nav>
	</footer>
</main>
